* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family:"Yu Gothic UI","Hiragino Kaku Gothic ProN";
  background-image: url(img/ok.jpg);
  background-size: cover;
}

a {
  text-decoration: none;
}

header {
  height:60px;
  width:100%;
  background-color: #70a9ffe8;
  text-align: center;
}

.headerList a {
  line-height:60px;
  padding: 0 33px;
  color: #fff;
  display: inline-block;
  transition: all 0.5s;
}

.headerList a:hover {
  background-color: rgba(255,255,255,0.3);
  text-decoration: none;
}

.main {
  height: 400px;
}

.main_title {
  width: 100%;
  padding: 30px 15px;
  margin: 0 auto;
}

.main_title h1 {
  text-align: center;
}

.main_title h1 span {
  color: white;
  font-size: 70px;
  position:relative;
  
}

.main_title h1 span::after{
  content:attr(data-text);
  text-shadow:1px 0 0 #1d6dcf,0 1px 0 #1d6dcf,-1px 0 0 #1d6dcf,0 -1px 0 #1d6dcf;
  color:#fff;
  position:absolute;
  left:2px;
  top:9px;
  mix-blend-mode:multiply;
}

footer {
  height: 65px;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 20px;
    
}

p {
  color: black/*#b3aeb5*/;
  text-align: center;
}

footer p {
  font-size: 12px;
}
